<h1 id="cabecalho"> Faça o Seu Login</h1>
<hr />

<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-3">
      <label for="validationCustom01" class="form-label">Nome</label>
      <input type="text" class="form-control"  [(ngModel)]="cliente.nome" name="nome" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom02" class="form-label">Sobrenome</label>
      <input type="text" class="form-control" [(ngModel)]="cliente.sobrenome" name="sobrenome" required>
    </div>
    <div class="col-md-3">
      <label for="validationCustomUsername" class="form-label">E-mail</label>
      <div class="input-group has-validation" [(ngModel)]="cliente.email" name="email" required>
        <span class="input-group-text" id="inputGroupPrepend"></span>
        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" >
      </div>
    </div>
    <div class="col-md-3">
      <label type="number" class="form-label">Cpf</label>
      <input type="text" class="form-control"  [(ngModel)]="cliente.cpf" name=" cpf" required>
    </div>
    <div class="col-md-3">
        <label type="number" class="form-label">Telefone</label>
        <input type="text" class="form-control"  [(ngModel)]="cliente.tel" name="tel" required>
      </div>
    <div class="col-12">
      <button (click)="OnSubmit" class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
